Customer_Support_Email_Workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "e8fb4e35-8448-44c6-8187-b099400449fd",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "A2KFRG4hP2jr0v9U",
          "name": "Gmail API Account"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.text }}",
        "categories": {
          "categories": [
            {
              "category": "Customer Support",
              "description": "An email that is related to helping a customer.  They may be asking questions about our policies, product, or services.  They may need help resetting their passwords or reactivating their accounts.  They may be interested in booking time to speak with me.  "
            },
            {
              "category": "Other",
              "description": "Any email that is not customer support related."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        208,
        0
      ],
      "id": "137b3b57-5402-403d-803e-03993e2f86c0",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        144,
        208
      ],
      "id": "a39f2c9e-b48a-43cd-aa28-af0df905915b",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "Zkj2fSKDGqtH4Mbp",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        352,
        224
      ],
      "id": "0921b8aa-cb6e-488a-b976-25675dbcdf28",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "# Overview\nYou are a helpful customer support agent for NextGentGRC.  Your job is to respond to incoming emails with relevant information using your knowledgeBase tool.  \n\n## Instructions\n- Your output should be friendly and use emojis\n- Sign off as the Agent who's solving tomorrow's GRC problems, today\n\n## Output\n- Output only the body content of the email"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        560,
        -96
      ],
      "id": "4a88718d-fb73-4a3f-b694-21298f194376",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "openai/gpt-5-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        560,
        208
      ],
      "id": "6bc8ff47-2d61-4175-8d62-d7b3d0861cad",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "Zkj2fSKDGqtH4Mbp",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Call this tool to access FAQ",
        "pineconeIndex": {
          "__rl": true,
          "value": "ragtest",
          "mode": "list",
          "cachedResultName": "ragtest"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        864,
        128
      ],
      "id": "4967726b-1b39-4e00-b6f5-8ad5a786f41d",
      "name": "KnowledgeBase",
      "credentials": {
        "pineconeApi": {
          "id": "wq4OJxU5KO8tAbXm",
          "name": "RagTest"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        960,
        336
      ],
      "id": "ec903d67-8ac5-49ac-a7b1-8082b5ec14f6",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "fg2F4d4T6nfNmqhs",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        912,
        -96
      ],
      "id": "f17f93fc-38d3-44cd-92c2-752c7d3c9c41",
      "name": "Reply to a message",
      "webhookId": "981aff9c-fa35-4ec6-a214-8d0d8a328a44",
      "credentials": {
        "gmailOAuth2": {
          "id": "A2KFRG4hP2jr0v9U",
          "name": "Gmail API Account"
        }
      }
    }
  ],
  "pinData": {
    "Gmail Trigger": [
      {
        "json": {
          "id": "19a02edb8632b247",
          "threadId": "19a02edb8632b247",
          "labelIds": [
            "UNREAD",
            "IMPORTANT",
            "CATEGORY_PERSONAL",
            "INBOX"
          ],
          "sizeEstimate": 6349,
          "headers": {
            "delivered-to": "Delivered-To: jtabron@nextgengrc.io",
            "received": "Received: from mail-sor-f41.google.com (mail-sor-f41.google.com. [209.85.220.41])\r\n        by mx.google.com with SMTPS id 46e09a7af769-7c288843eaesor2624619a34.8.2025.10.20.11.42.05\r\n        for <jtabron@nextgengrc.io>\r\n        (Google Transport Security);\r\n        Mon, 20 Oct 2025 11:42:05 -0700 (PDT)",
            "x-received": "X-Received: by 2002:a05:6808:8809:b0:448:28f7:c088 with SMTP id\r\n 5614622812f47-44828f7c22cmr58186b6e.58.1760985724649; Mon, 20 Oct 2025\r\n 11:42:04 -0700 (PDT)",
            "arc-seal": "ARC-Seal: i=1; a=rsa-sha256; t=1760985725; cv=none;\r\n        d=google.com; s=arc-20240605;\r\n        b=IGLSmYPGB/UnP9UQt8O6xK7ua9FZEnOTtuxNZ2ISp9ByV1jgNUm/wAItUVi5bPm4ue\r\n         xFotWV/m9P8erkAY3OXyCR2/MSY9fF7n1L3Ez7EPKLOEeBeLIXkeryMGMaWJraB/kIIu\r\n         j4g8NXltn5JvZykhWeuamyrBRVnIWyKE9wYoXDksMZP0uQ2VOOHlOCBq6ozuKoq08VYm\r\n         T5qPZJu14i5j1mka2SdZ2lP0au8ANbALQxVDj0ij9vMsFsd8WopkZeSvbvNEHBzpadbh\r\n         ptjxnWcpV7yzc/Y68zN/BcDtqbXs6CO2rFlpmHQLq2g/oEUSsa9kcjYJZARr97JHayY3\r\n         lYww==",
            "arc-message-signature": "ARC-Message-Signature: i=1; a=rsa-sha256; c=relaxed/relaxed; d=google.com; s=arc-20240605;\r\n        h=to:subject:message-id:date:from:mime-version:dkim-signature;\r\n        bh=Up68oGyrdzRbk2l7OKo36k4qEwgvvAghR63Q4LhrIOU=;\r\n        fh=67k1FCD6RM1bHhu6oKdeB8D/A0u2WZnbtUE5/H+XeK8=;\r\n        b=fSf/LhG6ixk/Y0Wxl3eB9hht91UtnhgV1TN3H1NfcOlLB4F/Bei+txEwTqFA3+cPKs\r\n         r6Wh/RtmeD5Qu/n+9r3cRExl+7LQ1JeG3gii0y18BbpzsMA4yGk65M2+/po4Vs9D6CA3\r\n         MQ8UQm08uc0qJwJxkeglvwrOMAee/SAqnsb/HLnyb1GjkoqdKWd4M7gvYX44FJi/2Zmb\r\n         c0hNdfTAWkRdHp+7IWh1yQwxZ3RAQnGHol9DxW0PoI5SZqOvPn5HmbBLz1xNEhPTX9+3\r\n         zhYuqSCDpF4PQFwPNBK08I/uDCjSi6OcpyErJLke1fGQqK3vz4AT8NDCQjGE1Zt+gThi\r\n         iNyw==;\r\n        dara=google.com",
            "arc-authentication-results": "ARC-Authentication-Results: i=1; mx.google.com;\r\n       dkim=pass header.i=@gmail.com header.s=20230601 header.b=XQdbTADY;\r\n       spf=pass (google.com: domain of jamestabron@gmail.com designates 209.85.220.41 as permitted sender) smtp.mailfrom=jamestabron@gmail.com;\r\n       dmarc=pass (p=NONE sp=QUARANTINE dis=NONE) header.from=gmail.com;\r\n       dara=neutral header.i=@nextgengrc.io",
            "return-path": "Return-Path: <jamestabron@gmail.com>",
            "received-spf": "Received-SPF: pass (google.com: domain of jamestabron@gmail.com designates 209.85.220.41 as permitted sender) client-ip=209.85.220.41;",
            "authentication-results": "Authentication-Results: mx.google.com;\r\n       dkim=pass header.i=@gmail.com header.s=20230601 header.b=XQdbTADY;\r\n       spf=pass (google.com: domain of jamestabron@gmail.com designates 209.85.220.41 as permitted sender) smtp.mailfrom=jamestabron@gmail.com;\r\n       dmarc=pass (p=NONE sp=QUARANTINE dis=NONE) header.from=gmail.com;\r\n       dara=neutral header.i=@nextgengrc.io",
            "dkim-signature": "DKIM-Signature: v=1; a=rsa-sha256; c=relaxed/relaxed;\r\n        d=gmail.com; s=20230601; t=1760985725; x=1761590525; darn=nextgengrc.io;\r\n        h=to:subject:message-id:date:from:mime-version:from:to:cc:subject\r\n         :date:message-id:reply-to;\r\n        bh=Up68oGyrdzRbk2l7OKo36k4qEwgvvAghR63Q4LhrIOU=;\r\n        b=XQdbTADYpdxstRaP1YUK9L8nbyiVoxpQfNdJc6XK7+v1xRC+eznpGIfWUvg0hunQRi\r\n         MgFCon/DW6eJdWv0LfJNIkyUzUx2mG0wXZrFrnBRNNLjAxBhIhe24SteERH3t1f0nrS3\r\n         x5S8PCHJXioLazDl1vbyd+dQrCwi6urnN8BKEvhuRMfC3jI/rUw3xsDrL4UtROCM/bdA\r\n         sQNarG66DWPQWidRwNOLPupPH1kAqFX1rBsKrI+s2vlil7BCQVLKcltm3jyRZ54vBoJb\r\n         WZuyBd3WOQ69m9DIF6fHgv5dds+BmOvpO001Wxa3nMsTHb9Q7stCNYsvquAApCTjO2Xv\r\n         EcIw==",
            "x-google-dkim-signature": "X-Google-DKIM-Signature: v=1; a=rsa-sha256; c=relaxed/relaxed;\r\n        d=1e100.net; s=20230601; t=1760985725; x=1761590525;\r\n        h=to:subject:message-id:date:from:mime-version:x-gm-message-state\r\n         :from:to:cc:subject:date:message-id:reply-to;\r\n        bh=Up68oGyrdzRbk2l7OKo36k4qEwgvvAghR63Q4LhrIOU=;\r\n        b=E7hXmqvMtj7RdEdOo8vHffegc1tIFNLBdNdloHtB4qQ+/9FJtinVXD1SZ5bEXRCIps\r\n         8MZhpJ+srilH3ucwPcfbb1pWdHXnGoUjuZCIp8pr737Zk3qPcuYNcKuEbNzsd0KAEcZ+\r\n         +1Q4K+8fHKc8fkWj1OCLileJ3+CrLkW6SIYGr3OKpe2TrH+ebmOIIFbhyfnrcJOP5Ypb\r\n         FroeMjDX0m7f1apS2kyD6CQbc9jnuWV+3+nXQ5nBXZ6rz5zsz4rt6dQwkebaWJ8QgAeG\r\n         6kl1b1lFgOD/jNN8e7aHRzIEKET7nCRmMJq4uhO9sb1jU2+G64HA2IHzwY0EtekGmEMu\r\n         8ADQ==",
            "x-gm-message-state": "X-Gm-Message-State: AOJu0Yx54gWdlOw0JptWPyVZPkZ2GNQ0tfm4zy4PHAQYIV6UbxKFd1fP\r\n\tJzGGvswOx0J7RO25GM+r2qzius243oii0iibd4g3bKG8V2rq/dFhiFcc5zVwGlutdoRtxUIbGb8\r\n\tRMVzsFnBoheLDj/4XXG+7FhmxGWINZH1jaAnH",
            "x-gm-gg": "X-Gm-Gg: ASbGncseqFAA4ZfMHBOgKJRuq7/5rGu3zqSkkVj5Lf7Z5xTrH6JmnvG+77S5H/AZ+R2\r\n\t+cePxBwRxcbvsRy8LtomqUMoue0CBb9yYa4Uae9wXX/6BeYaXwcqgVnDZvPAxGR6/WlBtbSdFwZ\r\n\tvGVPe6u73IgKnDiXAunA7YrSAPZ5rnt/388nIdWHkGv6vn6/nrWdsR+ryQ5aN5kfrh6p8WXW3Pg\r\n\tu5J9KLTmDub1IQ2I3Q94WHEs7aNmRw3WnrbvBCJo6N07KmEiB+cB7n5D0YNCnV92zzbnQ1hJKZD\r\n\tTXBovGKFC4ziwjhYD5CrXJHSy45S",
            "x-google-smtp-source": "X-Google-Smtp-Source: AGHT+IEqot7Oi7at8L7abqtDzIq26nletD0cnSpVUKlQRUui2aqtryUrDutzZkrBare12j8QMy0Ssz3ydOCla83jVe0=",
            "mime-version": "MIME-Version: 1.0",
            "from": "From: James Tabron <jamestabron@gmail.com>",
            "date": "Date: Mon, 20 Oct 2025 12:41:38 -0600",
            "x-gm-features": "X-Gm-Features: AS18NWCIYSP_wFXCWsKP0Yad86VRYjLM3D24EHX9QdcPX1SEp3gTyggfWGDgX20",
            "message-id": "Message-ID: <CAJ-cvwc2RdWWvjVVcYFKsoyMpZccu-c=ZF4DUgBkQ-HX5xfJtw@mail.gmail.com>",
            "subject": "Subject: Password Rest",
            "to": "To: \"jtabron@nextgengrc.io\" <jtabron@nextgengrc.io>",
            "content-type": "Content-Type: multipart/alternative; boundary=\"00000000000092849a06419b7045\""
          },
          "html": "<div dir=\"ltr\"><div>Hi,</div><div><br></div><div>I&#39;ve been locked out of my account and would like to have my password reset and my account reactivated.  Can someone please reach out ASAP?</div><div><br></div><span class=\"gmail_signature_prefix\">-- </span><br><div dir=\"ltr\" class=\"gmail_signature\" data-smartmail=\"gmail_signature\"><div dir=\"ltr\">Thanks,<div><br></div><div>James Tabron III</div></div></div></div>\n",
          "text": "Hi,\n\nI've been locked out of my account and would like to have my password reset\nand my account reactivated.  Can someone please reach out ASAP?\n\n-- \nThanks,\n\nJames Tabron III\n",
          "textAsHtml": "<p>Hi,</p><p>I&apos;ve been locked out of my account and would like to have my password reset<br/>and my account reactivated.  Can someone please reach out ASAP?</p><p>--<br/>Thanks,</p><p>James Tabron III</p>",
          "subject": "Password Rest",
          "date": "2025-10-20T18:41:38.000Z",
          "to": {
            "value": [
              {
                "address": "jtabron@nextgengrc.io",
                "name": ""
              }
            ],
            "html": "<span class=\"mp_address_group\"><a href=\"mailto:jtabron@nextgengrc.io\" class=\"mp_address_email\">jtabron@nextgengrc.io</a></span>",
            "text": "jtabron@nextgengrc.io"
          },
          "from": {
            "value": [
              {
                "address": "jamestabron@gmail.com",
                "name": "James Tabron"
              }
            ],
            "html": "<span class=\"mp_address_group\"><span class=\"mp_address_name\">James Tabron</span> &lt;<a href=\"mailto:jamestabron@gmail.com\" class=\"mp_address_email\">jamestabron@gmail.com</a>&gt;</span>",
            "text": "\"James Tabron\" <jamestabron@gmail.com>"
          },
          "messageId": "<CAJ-cvwc2RdWWvjVVcYFKsoyMpZccu-c=ZF4DUgBkQ-HX5xfJtw@mail.gmail.com>"
        }
      }
    ]
  },
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "KnowledgeBase": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "KnowledgeBase",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Reply to a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2fd72200-1a3b-466f-8390-1a7c1c731fb8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "19bfdc32dca065e4ebba74b8b834c2ed8cbfa54282e0b9a29d77f2ce9d96d2b5"
  },
  "id": "8w2pX2GHAEEwQwyE",
  "tags": []
}